﻿<div class="card mb-3">
    <div class="card-header text-center">
        <h2 class="card-title mb-1">Acesso Restrito | Login</h2>
    </div>
    <form id="form-login" method="POST" action="/caminho/para/autenticacao">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <!-- Campo de Login -->
                    <div class="mb-3">
                        <input name="login" class="form-control" id="input-login" placeholder="Login" type="text">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <!-- Campo de Senha -->
                    <div class="mb-3">
                        <input name="senha" class="form-control" id="input-senha" placeholder="Senha" type="password">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <div class="d-flex justify-content-center">
                        <!-- Botão de Entrar -->
                        <button class="btn btn-warning btn-lg" type="submit">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
